@charset "utf-8";
/* CSS Document */

.w-100{
	width:100%;
}

.txtseo {
	width:100%;
	height: auto;/*auto*/
	background-color: #FFFFFF;
	padding: 30px 150px;
	text-align: center;
}

.txtseo h1 {
	color: #00FFFF;
	margin-top: 0px;
}
.txtseo p {margin-bottom: 0px}


.bold{
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italic{
	font-style: italic;
}

.font-big{
	font-size: 25px;
}

.font-small{
	font-size: 10px;
}

.line-spacing{
	line-height: 24px;
}

.white{
	color: #fff;
}

.mymenu{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	
	display: flex;
	justify-content: flex-end;
}

.mymenu li {
	margin-left: 2px;
}

.mymenu li a {
	color: #E1E1E1;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
}

.mymenu li a:hover{
	color: #212121;
	background-color: #CDCDCD;
}



